* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #222;
    font-family: sans-serif;
    
}

.container{
    width:80vw;
    height: 95vh;
    margin: 2.5vh auto;
    background-color: whitesmoke;
    border-radius: 0.2rem;
    display: flex;
}

.leftSide{
    border: grey solid 1px;
    width: 34%;

}

.userProfile{
    height: 4rem;
    border:  rgb(255, 0, 0) solid 1px;;
    display: flex;
    align-items: center;
    background-color: #dbdbdb;
}

.userProfileCom{
    margin-left: auto;
    margin-right: 0.5rem;
}

.banner{
    height: 5rem;
    border:  rgb(0, 213, 255) solid 1px;
    display: flex;
    align-items: center;
}

.searchBar{
    height: 3rem;
    border:  rgb(255, 0, 242) solid 1px;;
}

.contacts{
    height: calc(100% - 12rem);
    border:  rgb(255, 102, 0) solid 1px;
    overflow: auto;
}

.contactCard{
    height: 5rem;
    border:  rgb(34, 0, 255) solid 1px;;
}

.rightSide{
    border: grey solid 1px;
    width: 66%;

}

.contactProfile{
    height: 4rem;
    border:  rgb(255, 0, 0) solid 1px;;
}

.messageRoom{
    height: calc(100% - 8rem);
    border:  rgb(255, 102, 0) solid 1px;
    overflow: auto;
    background-image: url(../img/mine.jpg);
    padding: 0.5rem;
    
    
}

.message{
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    
}

.userMessage{
    width: 30%;
    min-height: 3rem;
    background-color: white ;
    border-radius: 0.6rem;
    margin-left: 4rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.5rem;

}

.contactMessage{
    
    width: 30%;
    min-height: 3rem;
    background-color: rgb(43, 255, 0) ;
    border-radius: 0.6rem;
    margin-left: auto;
    margin-right: 4rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.5rem;

}


.inputBar{
    height: 4rem;
    border:  rgb(255, 0, 0) solid 1px;;
}

img {
    
    border-radius: 50%;
    height: 80%;
    margin: 0 0.5rem;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.fa-message{
    margin: 0.5rem;
    color: #aaaaaa;
}

.fa-bell-slash{
    font-size: 2rem;
    border-radius: 50%;
    padding: 0.8rem;
    margin: 0 0.5rem;
    aspect-ratio: 1 / 1;
    background-color: red;
    text-align: center;
    

}